<!-- Carousel visble solo para pantallas xxl-->
<div id="comunicadoCarousel" class="row d-none d-xxl-block p-5">
  <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <div class="row carousel-inner">
      {% for comunicado in comunicados %}
      {% if comunicado.visible == True %}
        <div class="carousel-item{% if forloop.first %} active {% endif %}" data-bs-interval="7000">
          <div class="row-cols-1">
            <div class="card h-100">
              <div class="card-body">
                <h1 class="card-title">{{comunicado.titulo}}</h1>
                <h3 class="card-subtitle mb-2 text-body-secondary">{{comunicado.entidad}}</h3>
                <p class="card-text"><small class="text-body-secondary">{{comunicado.fecha_publicacion}}</small></p>
                <p class="card-text">{{comunicado.detalle}}</p>
                <p class="card-text"><small class="text-body-secondary">Última modificación: {{comunicado.fecha_ultima_modificacion}}</small></p>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    </button>
  </div>
</div>


<!-- Card groups visible para todas las pantallas exceptuando xxl-->
<div class="row d-xxl-none">
    {% if total_comunicados == 0 %}
    <div id="alert" class="col-10 alert alert-warning mx-auto m-5" role="alert">
        No hay comunicados
    </div>
    {% else %}
    
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4 d-xxl-none">
        {% for comunicado in comunicados %}
        {% if comunicado.visible == True %}
        <div class="col">
            <div class="card h-100">
              <div class="card-body">
                <h5 class="card-title">{{comunicado.titulo}}</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">{{comunicado.entidad}}</h6>
                <p class="card-text">{{comunicado.detalle}}</p>
                <p class="card-text"><small class="text-body-secondary">{{comunicado.fecha_publicacion}}</small></p>
                <p class="card-text"><small class="text-body-secondary">Última modificación: {{comunicado.fecha_ultima_modificacion}}</small></p>
              </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}
  </div>

</div>


