<!-- Card groups visible para todas las pantallas exceptuando xxl-->
<div class="row d-xxl-none">
    {% if total_comunicados == 0 %}
    <div id="alert" class="col-10 alert alert-warning mx-auto m-5" role="alert">
        No hay comunicados
    </div>
    {% else %}
    
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4 d-xxl-none">
        {% for comunicado in comunicados %}
        {% if comunicado.visible == True %}
        <div class="col">
            <div class="card h-100">
              <div class="card-body">
                <h4 class="card-title">{{comunicado.titulo}}</h4>
                {% if comunicado.entidad == None %}
                  <h6 class="card-subtitle mb-2 text-body-secondary">ADMINISTRACIÓN</h6>
                {% else %}
                  <h6 class="card-subtitle mb-2 text-body-secondary">{{comunicado.entidad}}</h6>
                {% endif %}
                <p class="card-text"><small class="text-body-secondary">Creado por: {{comunicado.publicado_por}}, {{comunicado.fecha_publicacion}}</small></p>
                <p class="card-text d-block d-sm-none">{{comunicado.detalle_corto}}</p>
                <p class="card-text d-none d-sm-block">{{comunicado.detalle}}</p>
                <p class="card-text"><small class="text-body-secondary">{{comunicado.fecha_publicacion}}</small></p>
                <p class="card-text"><small class="text-body-secondary">Última modificación: {{comunicado.fecha_ultima_modificacion}}</small></p>
              </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    {% endif %}
  </div>

</div>


